<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SecureCard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CardSecurity</display-name>
    <servlet-name>CardSecurity</servlet-name>
    <servlet-class>CreditCardEncryptionDecryption.CardSecurity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardSecurity</servlet-name>
    <url-pattern>/CardSecurity</url-pattern>
    <url-pattern>/CardSecurity/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Decrypter</display-name>
    <servlet-name>Decrypter</servlet-name>
    <servlet-class>CreditCardEncryptionDecryption.Decrypter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Decrypter</servlet-name>
    <url-pattern>/Decrypter</url-pattern>
    <url-pattern>/Decrypter/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transaction_encrypter</display-name>
    <servlet-name>transaction_encrypter</servlet-name>
    <servlet-class>Transaction_encrypter.transaction_encrypter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transaction_encrypter</servlet-name>
    <url-pattern>/transaction_encrypter</url-pattern>
    <url-pattern>/transaction_encrypter/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transaction_Decrypter</display-name>
    <servlet-name>Transaction_Decrypter</servlet-name>
    <servlet-class>Transaction_encrypter.Transaction_Decrypter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transaction_Decrypter</servlet-name>
    <url-pattern>/Transaction_Decrypter</url-pattern>
    <url-pattern>/Transaction_Decrypter/*</url-pattern>
  </servlet-mapping>
</web-app>